@font-face {
  font-family: "overpass";
  src: url("./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

p {
  font-size: 15px;
}

body {
  margin: 0;
  background-color: var(--very-dark-blue);
  font-family: "overpass", sans-serif;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.card {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  max-width: 25rem;
  border-radius: 20px;
  margin: 1.5rem;
}

.star {
  background-color: hsl(213, 19%, 23%);
  border-radius: 999px;
  padding: 0.7rem;
}

.card h1 {
  color: var(--white);
}

.card fieldset {
  color: var(--light-grey);
  border: none;
  padding: 0;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}

.selected {
  background-color: var(
    --light-grey
  ) !important; /* why is this !important necessary? */
  color: var(--white) !important; /* why is this !important necessary? */
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(213, 19%, 23%);
  margin: 0;
  color: var(--light-grey);
  border-radius: 50%;
  width: 3.15em;
  height: 3.15em;
  display: grid;
  place-content: center;
}

input[type="radio"]:nth-child(1)::before {
  content: "1";
  font-size: 1rem;
}

input[type="radio"]:nth-child(2)::before {
  content: "2";
  font-size: 1rem;
}

input[type="radio"]:nth-child(3)::before {
  content: "3";
  font-size: 1rem;
}

input[type="radio"]:nth-child(4)::before {
  content: "4";
  font-size: 1rem;
}

input[type="radio"]:nth-child(5)::before {
  content: "5";
  font-size: 1rem;
}

input[type="radio"]:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

button {
  width: 100%;
  border: none;
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 25px;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

button:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

#selected-score {
  color: var(--orange);
  background-color: hsl(213, 19%, 23%);
  padding: 0.5rem;
  border-radius: 25px;
}

.thankyou-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.thankyou-card-content > h1 {
  margin-bottom: 0;
}

.thankyou-card-content > img {
  margin-bottom: 1rem;
}

.thankyou-description {
  text-align: center;
  color: var(--light-grey);
}
