/*css reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*end css reset*/

@font-face {
  font-family: "overpass";
  src: url("./assets/fonts/Overpass/Overpass-VariableFont_wght.ttf");
}

:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

p {
  font-size: 0.938rem;
}

.wizard {
  padding: 0;
  list-style-type: none;
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.wizard-item {
  background-color: var(--light-grey);
  color: var(--white);
  width: 3.15rem;
  height: 3.15rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 1;
}

.wizard-item:hover {
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
}

/* from: https://stackoverflow.com/questions/41326299/horizontal-css-wizard-navigation */
/* still don't understand how this works and how to not use magic numbers (for the width for example) */
.marker-line {
  position: absolute;
  width: 15%;
  height: 4px;
  background-color: var(--orange);
  top: 50%;
}

.selected-wizard-item {
  background-color: var(--orange);
  color: var(--white);
}

body {
  margin: 0;
  background-color: var(--very-dark-blue);
  font-family: "overpass", sans-serif;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.card {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  max-width: 25rem;
  border-radius: 20px;
  margin: 1.5rem;
}

.star {
  background-color: hsl(213, 19%, 23%);
  border-radius: 999px;
  padding: 0.7rem;
}

.card h1 {
  color: var(--white);
  margin-top: 1.5rem;
}

.card fieldset {
  color: var(--light-grey);
  border: none;
  padding: 0;
}

.card fieldset legend {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.scores {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  flex-wrap: wrap;
}

.selected {
  /* why is this !important necessary? */
  background-color: var(--light-grey) !important;
  /* why is this !important necessary? */
  color: var(--white) !important;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: hsl(213, 19%, 23%);
  margin: 0;
  color: var(--light-grey);
  border-radius: 50%;
  width: 3.15em;
  height: 3.15em;
  display: grid;
  place-content: center;
}

input[type="radio"]:nth-child(1)::before {
  content: "1";
  font-size: 1rem;
}

input[type="radio"]:nth-child(2)::before {
  content: "2";
  font-size: 1rem;
}

input[type="radio"]:nth-child(3)::before {
  content: "3";
  font-size: 1rem;
}

input[type="radio"]:nth-child(4)::before {
  content: "4";
  font-size: 1rem;
}

input[type="radio"]:nth-child(5)::before {
  content: "5";
  font-size: 1rem;
}

input[type="radio"]:hover {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}

button {
  width: 100%;
  border: none;
  background-color: var(--orange);
  padding: 1rem;
  border-radius: 25px;
  color: var(--white);
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

button:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

#selected-score {
  margin-bottom: 1rem;
  color: var(--orange);
  background-color: hsl(213, 19%, 23%);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 25px;
}

.thankyou-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.thankyou-card-content > h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

.thankyou-card-content > img {
  margin-bottom: 1rem;
}

.thankyou-description {
  text-align: center;
  font-size: 1rem;
  color: var(--light-grey);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--orange);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 55em) {
  .card {
    min-height: 33rem;
  }
}